/* ---------- THEME VARIABLE ---------- */






$theme-main-color: #003d6b;
$theme-secondary-color: #002541;
$main-font: Georgia, Serif;

$primary-color: #fff;
$secondary-color: #e7e7e7;

$small-font-size: 14px;
$medium-font-size: 16px;