/* ---------- THEME VARIABLE ---------- */






$theme-main-color: #003d6b;
$theme-secondary-color: #002541;
$main-font: Georgia, Serif;

$theme-tertiary-color: #00487e;

$primary-color: #fff;
$secondary-color: #e7e7e7;


$very-small-font-size: 10px;
$small-font-size: 14px;
$medium-font-size: 16px;

$quick-access-margin: -24px;
$quick-access-color: #777;
$quick-access-link-text-decoration: underline;
$quick-access-link-text-underline-position: under;

$accessibility-li-padding: 15px;